In [3]:
import pandas as pd

stock_df = pd.read_csv("../data/processed/stock_data.csv", skiprows=[1])

cols_to_convert = ["Open", "Close", "High", "Low", "Volume"]
stock_df[cols_to_convert] = stock_df[cols_to_convert].apply(pd.to_numeric, errors="coerce")

 
stock_df

          Date       Close        High         Low        Open     Volume
0   2025-04-28  209.864792  211.223011  207.188309  209.724976   38743100
1   2025-04-29  210.933395  211.962045  208.097103  208.416691   36827600
2   2025-04-30  212.221710  213.300298  206.399343  209.025904   52286500
3   2025-05-01  213.040634  214.279000  208.626409  208.806182   57365700
4   2025-05-02  205.081070  206.718922  201.895245  205.820091  101010600
5   2025-05-05  198.629532  203.832716  197.950430  202.834025   69018500
6   2025-05-06  198.250015  200.387212  196.761976  197.950420   51216500
7   2025-05-07  195.992981  199.178806  192.996910  198.909155   68536700
8   2025-05-08  197.231369  199.788014  194.425036  197.461064   50478900
9   2025-05-09  198.270004  200.277366  197.281295  198.739390   36453900
10  2025-05-12  210.789993  211.270004  206.750000  210.970001   63775800
11  2025-05-13  212.929993  213.399994  209.000000  210.429993   51909300
12  2025-05-14  212.330002  213.940002  210.580002  212.429993   49325800
13  2025-05-15  211.449997  212.960007  209.539993  210.949997   45029500
14  2025-05-16  211.259995  212.570007  209.770004  212.360001   54737900
15  2025-05-19  208.779999  209.479996  204.259995  207.910004   46140500
16  2025-05-20  206.860001  208.470001  205.029999  207.669998   42496600
17  2025-05-21  202.089996  207.039993  200.710007  205.169998   59211800
18  2025-05-22  201.360001  202.750000  199.699997  200.710007   46742400
19  2025-05-23  195.270004  197.699997  193.460007  193.669998   78314800
20  2025-05-27  198.610001  199.169998  197.429993  198.300003   12102187

In [6]:
stock_df.to_csv("../data/cleaned/cleaned_stock_data.csv", index=False)